        .highlight1 {
            color: blue;
            font-weight: lighter;
        }
        .highlight2 {
            color: red;
        }
        .highlight3 {
            background-color: antiquewhite;
        }
        
    
    